.conda
/.idea/misc.xml
/venv/
/.idea
/.idea/modules.xml
/.idea/ost-sm-change-detection.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/.gitignore
/data_loading/hai-23_05/*.csv
/data_loading/hai-23_05/*.txt
/marcell_change_detection/apache-flink-1.18.0.tar.gz
/marcell_change_detection/apache-flink-libraries-1.18.0.tar.gz
/marcell_change_detection/pyflink/flink_dependencies/apache-flink-1.18.0.tar.gz
/marcell_change_detection/pyflink/flink_dependencies/apache-flink-libraries-1.18.0.tar.gz
/hai_dataset/hai
/marcell_change_detection/.ipynb_checkpoints/
